body{
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

img{
width: 50em;
/* float: right; */
}

p{
  margin-left: 10em;
  margin-right: 5em;
  width: 25em;
  font-size: 25px;
}
.chapterContainer{
  width: 45em ;
  /* border: solid 2px red; */
  display: flex;
  /* justify-content: flex-start; */
  /* flex-direction: ; */
  margin-bottom: 15em;
  

}
.imgContainer{
width: 10em;
height: auto;
border: solid 5px white;
}

.techStackLogo{
  width: 5em;
}

.circularBackground{
background-color: white;
border-radius: 50px;
text-align: center;
}

.individualAboutChapterContainer>h2{
  text-align:center ;
  font-size: 50px;
}


#techStack{
  /* background-color: white; */
  display: flex;
  justify-content: center;
}

#imgOfChicago{
  width: 1em;
}

#imgOfChicago{
  width: 100%;
  height: auto
}

#helloWorld{
  width: 100%;
  height: auto
}

#california {
  width: 100%;
  height: auto
}

#techStackContainer>h1{

    font-size: 50px;
  text-align: center;
}
.smallPara{
  margin-top: 6em;
  /* background-color: aqua; */
}

.screenshot{
  width: 30em;
  margin-right: 5em;
}

#overallProjectsContainer>h1{
  text-align:center;
  font-size: 50px;
  margin-top: 5em;
}
#projects{
  /* text-align: center; */
  justify-content: center;
  display: flex;
  
  /* grid-template-columns: 260px 260px 260px; */
}


#idmScreenshot{
  width: 25.6em;
}
#huskLogo{
  width: 15.5em;
}
