body{
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

img{
width: 70em;
/* float: right; */
}

p{
  margin-right: 15em;
  width: 35em;
}
.chapterContainer{
  width: 45em ;
  border: solid 2px red;
  display: flex;
  /* justify-content: flex-start; */
  /* flex-direction: ; */
  margin-bottom: 20em;
  

}
.imgContainer{
width: 10em;
height: auto;
border: solid 5px white;
}

.techStackLogo{

  width: 5em;
}
.circularBackground{
background-color: white;
border-radius: 50px;
text-align: center;
}

#techStack{
  /* background-color: white; */
  display: flex;
  justify-content: center;
}

#imgOfChicago{
  width: 1em;
}

#chapterOne{
  background-color: brown;
}

#imgOfChicago{
  width: 100%;
  height: auto
}

#helloWorld{
  width: 100%;
  height: auto
}

#california {
  width: 100%;
  height: auto
}

#chapterTwo{
  background-color: aqua;

}

#chapterThree{
  background-color: chartreuse;

}