.imgContainer {
  width: 10em;
  height: auto;
  border: solid 5px white;
}

.techStackLogo {
  width: 5em;
}

.circularBackground {
  background-color: white;
  border-radius: 50px;
  text-align: center;
}


#techStack {
  /* background-color: white; */
  display: flex;
  justify-content: center;
}

#techStackContainer>h1 {

  font-size: 50px;
  text-align: center;
}